<%= content_for :title do %>
  Natalie Lunt Photography - Contact
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">

      <% @contact_sections.each do |contact_section| %>
        <div class="pages-section pages-holder align-left">

          <% if admin_user? %>
            <div class="admin">
              <i class="fa fa-pencil edit-button pages-edit-button admin btn btn-default" aria-hidden="true"></i>
            </div>
          <% end %>

          <div class="pages-header">
            <h2>Contact</h2>
          </div>

          <div class="pages-content contact-content">
            <p>Get in touch if you have questions or comments!</p>

            <div class= "email">
              <div><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <div><%= contact_section.email %></div>
            </div>

            <div class="pages-content-social-media">
              <% unless contact_section.facebook_url.blank? %>
                <div><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></div>
              <% end %>
              <% unless contact_section.twitter_url.blank? %>
                <div><i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i></div>
              <% end %>
              <% unless contact_section.flickr_url.blank? %>
                <div><i class="fa fa-2x fa-flickr" aria-hidden="true"></i></div>
              <% end %>
              <% unless contact_section.instagram_url.blank? %>
                <div><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></div>
              <% end %>
            </div>
          </div>

        </div>
      <% end %>

    </div>
  </div>
</div>
