/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
//Layout
body {
  // height: 100vh;
}

.content {
  margin-top: 140px;
}

@media (max-width: $screen-md-min) {
  .content{
    margin-top: 90px;
  }
}
// Paddings

.padded {
  padding-top: 1.5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Display
.hidden {
  display: none;
}

.inline-divs {
  div {
    display: inline-block;
    padding: 0 5px;
  }
}

.inline-no-padding {
  div {
    display: inline-block;
  }
}

.flex-container-align-bottom-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
