<%= link_to "Add photo", new_photo_path %>
<div class="gallery">
  <% @photos.each do |photo| %>
    <div class="photo-holder">

      <%= image_tag(photo.image_location, alt: photo.image_alt, class: photo, height: 500, crop: :scale)%>

      <% unless photo.caption_title.blank?  && photo.caption_description.blank? %>
        <div id="photo-caption" class="caption hidden">
          <h5><%= photo.caption_title %></h5>
          <p><%= photo.caption_description %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


