//***********************************
// PHOTO GALLERY
//***********************************

//1 column for mobile
#masonry-grid {
  width: 100%;
}

.grid-sizer,
.grid-item {
  width: 100%;
  margin-bottom: 10px;
}

//Masonry 3 column display for larger devices
@media (min-width: $screen-md-min) {
  #masonry-grid {
    clear: both;
    //to go with margins added on right for each element in 3 col display
    margin-left: 10px;
  }

  #masonry-grid {
  // width: 100%;
    clear: both;
  }

  .clearfix:before, .clearfix:after {
    content: ""; display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    zoom: 1; }

  .grid-sizer,
  .grid-item {
    width: calc(100%/3 - 10px);
  }

  .hidden {
    width: 0;
    height: 0;
  }
}

