.gallery {
  max-width: 100%;
  margin: 20px 15px;
}

.photo-holder {
  width: 100%;
  position: relative;

  img {
      width: 100%;
  }

  .caption {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
    color: $gray-light;
    background: black;
    opacity: 0.6;

    h5 {
      margin: 0px;
    }
  }

}
