//***********************************
// RESPONSIVE VIEW
//***********************************

//1 column for mobile
#masonry-grid {
  width: 100%;
}

.grid-sizer,
.grid-item {
  width: 100%;
}

//Masonry 3 column display for larger devices
@media (min-width: $screen-md-min) {
  #masonry-grid {
    clear: both;
    //to go with margins added on right for each element in 3 col display
    margin-left: 10px;
  }

  #masonry-grid {
  // width: 100%;
    clear: both;
  }

  .clearfix:before, .clearfix:after {
    content: ""; display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    zoom: 1; }

  .grid-sizer,
  .grid-item {
    width: calc(100%/3 - 10px);
  }

  .grid-item {
    margin-bottom: 10px;
   }

  .hidden {
    width: 0;
    height: 0;
  }
}

//*********************//
// PHOTO CARD
//*********************//

//
.photo-holder {
  width: 100%;
  position: relative;

  img {
      width: 100%;
      border: 0.1px solid $gray-lighter;
      // box-shadow: 0.5 0.5 0.5 rgba(50, 50, 50, 0.75);
  }

  .caption {
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 10px;

    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
    color: $gray-light;
    background: black;
    opacity: 0.6;

    h5 {
      margin: 0px;
    }
  }

  .photo-admin-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
  }

}


