.filter-tabs {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.filter-tabs {
  .tab {
    flex: 0 0 auto;

    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 25px;

    color: $gray-dark;
    font-size: 10px;
    cursor: pointer;


    &:hover {
      background: white;
      color: $red;
      transition: all 0.5 ease;
      text-decoration: none;
    }
  }

  .tab-active {
    background: $gray;
    color: white;
  }

  .tab-active:hover {
    background: $gray;
    color: white;
  }
}
